html, body {
    height: 100%;
    width: 100%;
    font-size: 14px;
    font-family: 'Microsoft Yahei'
}
/*
** 杂项生成器
*/

// 标签的伪元素箭头
@mixin arrow($color) {
    display: block;
    content: ' ';
    position: absolute;
    top: 0;
    background: $color;
    transform: rotate(45deg);
}

// 文本颜色生成器
@mixin text-Color($color) {
    color: $color
}

@mixin input-Underline($color) {
    border: none;
    border-bottom: 1px solid $color;
    border-radius: none;
    outline: none;
}


// 颜色
$primary: #007ACC;
$info: #00b4aa;
$danger: #f44336;

// 边框
$border: 1px solid #ddd;



/*
** 布局部分, 采用栅格布局 将每个flex类分为10个栅格
** 采用flex布局
*/
.flex {
    display: flex;
    .col1 {
        flex-grow: 1;
    }
    .col2 {
        flex-grow: 2;
    }    
    .col3 {
        flex-grow: 3;
    }    
    .col4 {
        flex-grow: 4;
    }    
    .col5 {
        flex-grow: 5;
    }    
    .col6 {
        flex-grow: 6;
    }    
    .col7 {
        flex-grow: 7;
    }
    .col8 {
        flex-grow: 8;
    }
    .col9 {
        flex-grow: 9;
    }
    .col10 {
        flex-grow: 10;
    }

    &.column {
        flex-direction: column;
    }
}


/*
** 链接部分
*/
a{
    cursor: pointer; // 默认手势
    &.primary {
        color: $primary;
    }
    &.no-decoration {
        text-decoration: none;  // 无下划线
    }
}


/*
** 文本部分
*/
p {
    &.clear-margin {
        margin: 0;
    }
}
.text {
    &.white{
        @include text-Color(#fff)
    }
    &.gray {
        @include text-Color(gray)
    }
    &.small {
        font-size: 12px;
    }
    &.big {
        font-size: 16px;
    }
}

h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2.2rem;
}
h3 {
    font-size: 1.9rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1.2rem;
}

h1,h2,h3,h4,h5 {
    &.title {
        border-bottom: $border;
        padding-bottom: 5px;
    }
}

span {
    &.span {
        padding: 2px 5px;
        border-radius: 3px;
        background: #e0e0e0;
    }

    &.left {
        position: relative;
        &::before {
            display: block;
            @include arrow(#e0e0e0);
        }
    }

    &.primary {
        color: #fff;
        background: $primary;
    }

    &.info {
        color: #fff;
        background: $info;
    }

    &.danger {
        color: #fff;
        background: $danger;
    }
}

label {
    align-self: center;
}

pre {
    margin: 0;
    padding: 10px;
    color: #444;
    background: #f0f0f0;
}

/*
** 输入框部分
*/
input[type='text'], 
input[type='password'],
input[type='email'],
input[type='url'] {
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 26px;
    border: 1px solid #BFCBD7;
    &:hover {
        border: 1px solid #999;
    }
    &:focus{
        border: 1px solid #20a0ff;
        outline: none;
    }
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 0px 8px;
    height: 32px;
    border-radius: 2px;
    background: #fff;
    border: 1px solid #BFCBD7;
    border-radius: 2px;
    &:hover {
        border: 1px solid #999;
    }
    &:focus{
        border: 1px solid #20a0ff;
        outline: none;
    }
    &:after {
        content: ' ';
        display: inline-block;
        width: 30px;
        height: 30px;
        background: #007ACC;
    }
}

input {
    padding: 2px 5px;
    &.input {
        border-radius: 2px;
    }
    &.underline {
       @include input-Underline(#BFCBD7);
        &:hover {
            @include input-Underline(#999);
        }
        &:focus {
            @include input-Underline(#20a0ff);
            outline: none;
        }
    }
}

textarea {
    -webkit-appearance: none;
    padding: 4px;
    border-radius: 2px;
    border: 1px solid #BFCBD7;
    &:focus {
        border: 1px solid #20a0ff;
        outline: none;
    }
}


/*
** 按钮部分
*/
.button {
    padding: 7px 20px;
    border: none;
    cursor: pointer;
    background: #eee;
    border-radius: 2px;
    &.small {
        font-size: 12px;
        padding: 2px 12px;
    }
    &.big {
        padding: 11px 45px;
    }
    &.primary {
        color: #fff;
        background: $primary;
        &:hover {
            background: #0771B9;
        }
    }
    &.danger {
        color: #fff;
        background: $danger;
        &:hover {
            background: #f53c2e;
        }
    }
    &.info {
        color: #fff;
        background: $info;
        &:hover {
            background: #04ada3;
        }
    }
    &.shadow {
       box-shadow: 0px 2px 3px #999;
       &:hover {
           box-shadow: 0px 2px 4px #777;
       }
    }
    &::focus {
        outline: none;
    }
}


/*
** 表格
*/
table {
    &.table {
        width: 100%;
        border-collapse: collapse;
        &.primary {
            thead{
                color: #fff;
                background-color: $primary;
                background-image: linear-gradient(#5eb2ea, $primary);
                border: 1px solid #5eb2ea;
            }
        }
        th,td {
            border-collapse: collapse;
        }
        thead {
            line-height: 30px;
            border: $border;
            background-color: #eee;
            background-image: linear-gradient(#fcfcfc, #eee);
            th {
                border: none;
            }
        }
        tbody {
            tr {
                line-height: 32px;
                td {
                    font-size: 12px;
                    border: $border;
                }
                &.center {
                    td {
                        text-align: center;
                    }
                }
            }
        }
    }
    &.table-striped {
        tbody {
            tr:nth-child(2n) {
                background: #f0f0f0;
            }
        }
    }
}


/*
** 表单部分
*/
.form {
    .form-title {
        margin: 8px 0px;
        font-weight: 400;
        border-bottom: 1px solid #ddd;
    }
    .form-group {
        margin: 14px 0px;
        &.item {
            display: flex;
            label {
                color: #444;
                padding: 0px 5px;
            }
            input, textarea{
                flex-grow: 1;
            }
        }
    }
}





/**
** 通用部分
**/ 

// 浮动
.pull-left {
    float: left;
}
.pull-right {
    float: right
}

// 清除浮动
.clearfix:after{
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  font-size: 0;
}

// 过长显示省略号
.text-ellipsis {
  word-break: break-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}